<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>


    {% for author in page.object_list  %}
    {% if author.photo %}
    <img src="{{ author.photo.url }}" alt="" style="max-width:20px; max-height:20px"/> <br>
    {% else %}
    <img src="{{ not_found }}" alt="" style="max-width:20px; max-height:20px"/> <br>
    {% endif %}
    Имя и фамилия автора: {{author.fio}} <br>
    Год рождения: {{author.birth_year}} <br>
    Страна проживания: {{author.country}} <br>
   
    <a href="{% url 'view_author' author.id %}">Посмотреть детали</a> <br>

    <hr>


    {% endfor %}

    <div>
        {% if page.has_previous %}
          <a href="?page={{ page.previous_page_number }}"> &lt; </a>
        {% else %}
          &nbsp;  &lt; &nbsp;
        {% endif %}
          Страница {{ page.page_number }}
        {% if page.has_next %}
          <a href="?page={{ page.next_page_number }}"> &gt; </a>
        {% else %}
          &nbsp; &gt; &nbsp;
        {% endif %}
      </div>

    
</body>
</html>