<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
   
    <h1>{{title}}</h1>

    <img src="{{ data.photo.url }}" alt="{{data.fio}}" style="max-width:200px; max-height:200px"/> <br>
   Имя автора:  {{data.fio}} <br>
   Год рождения: {{data.birth_year}} <br>
   Страна проживания: {{data.country}} <br>


</body>
</html>